{{ define "main" }}
<h1>Trig Points</h1>

<div id="fullMap" class="h-screen"></div>

{{ $trigs := .Site.RegularPages.RelatedTo ( keyVals "tags" "trig point" ) }}


<script>
  var trigs = {};
{{ range $trigs.GroupByParam "tp" }}
  trigs[ {{- trim .Key " " -}} ] = {
  
    visited: {{ len .Pages }},
  
  {{ range first 1 .Pages }}
    name: {{ .Title }},
    last: "{{ .Date.Format "2" | humanize}} {{ .Date.Format "January" }} {{ .Date.Format "2006" }} @ {{ .Date.Format "15:04" }}",
    content: {{ .Content }},
    lat: {{ .Params.lat }},
    long: {{ .Params.long }}
  {{ end }}
  
  }
  
{{ end }}
</script>


{{ end }}
