<div class="h-card flex">
  <div class="h-48 sm:h-auto sm:w-48 flex-none bg-cover bg-center rounded-t-lg sm:rounded-t-none sm:rounded-l-lg text-center overflow-hidden" style="background-image: url('/images/profile.jpg')" alt="">
    <img class="u-photo hidden" src="{{ "/images/profile.jpg" | absURL }}" alt="" />
  </div>

  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b-lg lg:rounded-b-none lg:rounded-r-lg p-4 flex flex-col justify-between leading-normal">
    <div class="">
      <h1>Hi, I'm <a class="p-name u-uid u-url" rel="me" href="https://www.geeksareforlife.com">James <span class="hidden">Hayward</span></a> <span class="text-lg">(<a class="u-pronoun" href="https://pronoun.is/he/him">he/him</a>)</span></h1>

      <p>I live in <span class="p-locality">Derby</span> with my wife Caroline and our two kids, Joah and Seren.</p>

      <p>I like to tinker with things, even building things when I have time! This site is very much a work in progress, but I am planning to post more about a random assortment of things.</p>

      <p>You can see my social links above, or drop me an email at <a href="mailto:hi@geeksareforlife.com" class="u-email">hi@geeksareforlife.com</a>.</p>
    </div>
  </div>
</div>