{{ define "main" }}
<section class="h-feed">
<div class="h-feed-description">
  <h1 class="p-name">
    <a href="{{ .RelPermalink }}" rel="feed" class="u-url u-uid">
      Items
      {{- if eq .Type "tags" }}
        in <span class="far fa-tag ml-1 px-1"></span>{{ .Title }}
      {{- end -}}
    </a>
  </h1>
</div>

<div class="hidden">
  {{- partial "hcard.html" (dict "context" . "user" .Site.Author.user "class" "p-author") -}}
</div>

{{ range .Pages }}
  {{ if eq .Type "articles" }}
    {{ partial "basic-post.html" . }}
  {{ else }}
    {{ .Type }}
  {{ end }}
{{ end }}
</section>

{{ end }}
