<article class="mb-10">
  <a href="{{ .RelPermalink }}" class="block">
    <h2 class="leading-7 mb-2">
      {{ .Title }}
    </h2>
  </a>
  <div class="text-sm leading-5 text-gray-500">
    <time datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "January" }}
      {{ .Date.Format "2" | humanize}},
      {{ .Date.Format "2006" }}
    </time>
    <span class="mx-1">
      &middot;
    </span>
    <span>
      {{ .ReadingTime }} min read
    </span>
  </div>
  <p class="mt-4 leading-6">
    {{ .Summary }}
  </p>
  {{ with .Params.tags }}
  <ul id="tags" class="mt-6">
  {{ range . }}
    {{ partial "tag.html" . }}
  {{ end }}
  </ul>
  {{ end }}
</article>