{{ define "main" }}
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
<section class="h-feed">
  {{ partial "expanded-h-card.html" . }}

  <aside class="h-feed-description hidden" aria-hidden="true">
    <h1 class="p-name"><a href="/" rel="feed" class="u-url u-uid">GeeksAreForLife.com</a></h1>
  </aside>

  <div class="mt-12 grid gap-5 lg:grid-cols-3 lg:max-w-none">
    {{ range first 3 $pages }}
    <article class="h-entry flex flex-col rounded-lg shadow-lg overflow-hidden">
      <a href="{{ .RelPermalink }}" class="u-url u-uid block text-current hover:text-current hover:no-underline">
      <div class="flex-shrink-0">
        <img class="u-photo h-32 w-full object-cover" src="{{ .Params.Hero }}" alt="" />
      </div>
      <div class="flex-1 bg-white p-6 flex flex-col justify-between">
        <div class="flex-1">
          
            <h2 class="p-name mt-2 leading-7 mb-2 hover:text-orange-400 hover:underline">
              {{ .Title }}
            </h2>
          
          <div class="text-sm leading-5 text-gray-500">
            <time datetime="{{ .Date }}" class="dt-published">
              {{ .Date.Format "January" }}
              {{ .Date.Format "2" | humanize}},
              {{ .Date.Format "2006" }}
            </time>
            <span class="mx-1">
              &middot;
            </span>
            <span>
              {{ .ReadingTime }} min read
            </span>
            <a class="u-author" href="/"></a>
          </div>
          <p class="p-summary mt-3 leading-6">
            {{ .Summary }}
          </p>
        </div>
        
        {{ with .Params.tags }}
        <ul id="tags" class="mt-6 ml-0">
        {{ range . }}
          {{ partial "tag.html" . }}
        {{ end }}
        </ul>
        {{ end }}
      </div>
    </a>
    </article>
    {{- end }}
  </div>

  <div class="mt-16 lg:flex">

    <div class="flex-1">
      {{ range after 3 $pages }}
        {{ partial "basic-post.html" . }}
      {{ end }}
    </div>

    <div class="hidden lg:block lg:max-w-1/4 lg:flex-none p">
      <a href="/tags/"><h3>Tags</h3></a>
      <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="/tags/{{ .Name | urlize  }}">{{ .Name | humanize }}</a> ({{ .Count }})</li>
      {{ end }}
      </ul>
    </div>

  </div>

</section>

{{ end }}
